body {
    margin: 0;
    font-family: Arial, sans-serif ;
}

.container {
    background: #55d6aa;
}

header {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

nav > .right-side {
    display: flex;
}

.link-wrapper {
    margin-left: 100px;
    text-transform: uppercase;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.right-side a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}


.link-wrapper:hover{
    border-bottom: 1px solid #f1f1f1;
}


.right-side a:hover {
    color: #f1f1f1;
}
