/*
author: Connor Hunter   <clh7090@rit.edu>

Flask Personal Website
 */


body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", sans-serif;
    overflow-x: hidden;
}


.container {
    width: 80%;
    min-width: 850px;
    max-width: 1400px;
    margin: 0 auto;
}


header {
    background: #55d6aa;
}


.container > .header-left-side {
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
}


header > .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}


nav > .header-right-side > .link-hover {
    display: flex;
}


.link-wrapper {
    margin-right: 50px;
    text-transform: uppercase;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
}


.link-hover a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}


.link-wrapper:hover {
    border-bottom: 1px solid white;
}


.link-hover a:hover {
    color: white;
}


main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}


main > .container {
    width: 80%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
}

.container > .main-left-side{
    padding-top: 50px;
}

.circle {
    display: block;
    border-radius: 50%;
}


.container > .main-right-side {
    color: black;
    font-size: 1rem;
    animation-name: color-fade;
    animation-duration: 4s;
}

.logos{
    margin:-15px;
    text-align: center;
}


.button{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    margin: 20px;
    border-radius: 30%;
    box-shadow: 0 5px 15px #00000070;
}


i {
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
}


.button i {
    line-height: 30px;
}


.button:hover i {
    transform: scale(1.2);
}

#resume-link a{
    font-size: 1.5rem;
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
    text-decoration: none;
}

.login-box{
    position: absolute;
    width: 30%;
    max-width: 250px;
    min-width: 225px;
    padding: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #55d6aa;
    border-radius: 3%;
}


.login-box h1{
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
}


#use, #pass {
    background: #55d6aa;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px 8px;
    border: 2px solid black;
    width: 200px;
    outline: none;
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
    border-radius: 15px;
}


#log {
    cursor: pointer;  /* no pointer otherwise */
    background: #55d6aa;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 40px;
    outline: none;
    color: black;
    animation-name: color-fade;
    animation-duration: 4s;
    border-radius: 15px;
    transition: 0.25s;
}


#log:hover{
    background: darkgreen;
}


@keyframes color-fade {
    0%{color: rgba(191, 56, 144, 0)}

    25%{color: rgb(255, 112, 0)
    }
    50%{color: rgb(223, 0, 215)
    }
    75%{color: rgb(144, 26, 38)
    }
    100%{color: rgb(0, 0, 0)}
}

