/*
author: Connor Hunter   <clh7090@rit.edu>

Flask Personal Website
 */


body {
    margin: 0;
    font-family: "Lucida Console", sans-serif;
    overflow-x: hidden;
}


.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background: #55d6aa;
}


.container > .header-left-side {
    color: black;
    animation-name: color-fade;
    animation-duration: 5s;
}


header > .container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}


nav > .header-right-side {
    display: flex;
}


.link-wrapper {
    margin-right: 50px;
    text-transform: uppercase;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}


.header-right-side a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}


.link-wrapper:hover {
    border-bottom: 1px solid #f1f1f1;
}


.header-right-side a:hover {
    color: #f1f1f1;
}


main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}


main > .container {
    width: 80%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
}

.container > .main-left-side{
    padding-top: 50px;
}

.circle {
    display: block;
    border-radius: 50%;
}


.container > .main-right-side {
    color: black;
    font-size: 1rem;
    animation-name: color-fade;
    animation-duration: 5s;
}


@keyframes color-fade {
    0%{color: rgba(191, 56, 144, 0)}

    25%{color: rgb(255, 112, 0)
    }
    50%{color: rgb(223, 0, 215)
    }
    75%{color: rgb(144, 26, 38)
    }
    100%{color: rgb(0, 0, 0)}
}

