<!--author: Connor Hunter   <clh7090@rit.edu>-->

<!--Flask Personal Website-->


{% extends "template.html" %}


{% block title %}Home Page{% endblock title %}


{% block user %}Welcome User{% endblock user %}

{% block main %}
<div class="container">
    <div class="main-left-side">
    <img src="/static/Connor.png" alt="Image of Connor." class="circle">
    </div>
    <div class="main-right-side">
        <div class="body-text">
            <h3>&lt;h1&gt; PROGRAMMER | Python | HTML | CSS | Java &lt;/h1&gt;</h3>
        </div>
        <div class="body-text">
            &lt;ul&gt;
        </div>
        <div class="body-text">
            &emsp;&emsp;&lt;li&gt;
            <br>
            <br>&emsp;&emsp;&emsp;&emsp; Leader in the class room and on the keyboard. <br>
            <br>
        </div>
        <div class="body-text">
            &emsp;&emsp;&lt;/li&gt;
            <br>
            <br>&emsp;&emsp;&emsp;&emsp; Problem solving skills with knowledge in computer science theory. <br>
            <br>
        </div>
        <div class="body-text">
            &emsp;&emsp;&lt;li&gt;
            <br>
            <br>&emsp;&emsp;&emsp;&emsp;Time-efficient and space-efficient code. <br>
            <br>
        </div>
        <div class="body-text">
            &emsp;&emsp;&lt;/li&gt;
        </div>
        <div class="body-text">
            &lt;ul/&gt;
        </div>
        <div class="logos">
             <a class="button" href="https://www.facebook.com/connor.hunter.7399" target="_blank">
                 <i class="fab fa-facebook-f"></i>
             </a>
             <a class="button" href="https://github.com/clh7090" target="_blank">
                <i class="fab fa-github"></i>
             </a>
            <a class="button" href="https://www.linkedin.com/in/connor-hunter-29654b19a/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
             </a>
        </div>
    </div>
</div>
{% endblock main %}
