<!--author: Connor Hunter   <clh7090@rit.edu>-->

<!--Flask Personal Website-->


{% extends "template.html" %}

{% block title %}Resume Page{% endblock title %}

{% block user %}Welcome {{name}}{% endblock user %}

{% block main %}
    <div class="note-container">
        <div class="note-forms">
            <form action="/del/" method="post">
                <input class="note-button" type="submit" name="del" value="DELETE NOTE">
            </form>
            <form action="/add/" method="post">
                <input class="note-button" type="submit" name="add" value="ADD NOTE">
                <input id="note" type="text" name="nte" placeholder="Type here and then click add note.." maxlength="100">
            </form>
        </div>
        <div class="notes">
            <div class="empty">
                &nbsp;&nbsp;
            </div>
            {% for value in note_list %}
            <p>{{value.notes}}</p>
            <div class="empty">
                &nbsp;&nbsp;
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}
