<!--author: Connor Hunter   <clh7090@rit.edu>-->

<!--Flask Personal Website-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>

    <header>
        <div class="container">
            <div class="header-left-side">
                {% block user %}{% endblock user %}
            </div>
            <nav>
                <div class="header-right-side">
                    <div class="link-hover">
                    <div><a href="/" class="link-wrapper">Home</a></div>
                    <div><a href="/resume/" class="link-wrapper">Resumé</a></div>
                    <div><a href="#" class="link-wrapper">Sticky Notes</a></div>
                    <div><a href="#" class="link-wrapper">Social Media</a></div>
                    <div><a href="/login/" class="link-wrapper">Login</a></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        {% block main %}{% endblock main %}
    </main>

</body>

</html>